/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f9fd;
}

.container {
  text-align: center;
  padding: 20px;
}

/* Header */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

/* Search Bar */
.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Pokemon List */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.pokemon-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 150px;
  text-align: center;
  transition: transform 0.3s ease;
}

.pokemon-card:hover {
  transform: translateY(-10px);
}

.pokemon-card img {
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin: 10px 0;
}

.pokemon-card h2 {
  font-size: 1.2rem;
  color: #333;
}

.pokemon-card p {
  font-size: 0.9rem;
  color: #666;
}

/* Types */
.types {
  margin-top: 10px;
}

.type {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  margin: 2px;
}

.type.grass {
  background-color: #78c850;
}

.type.poison {
  background-color: #a040a0;
}

.type.fire {
  background-color: #f08030;
}

.type.flying {
  background-color: #a890f0;
}
